.emailRow {
    display: flex;
    align-items: center;
    height: 35px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.07);
}

.emailRow__message {
    display: flex;
    flex: 0.7;
    align-items: center;
    font-size: 13px;
}

.emailRow__options {
    display: flex;
}

.emailRow__message > h4 {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.emailRow__title {
    font-size: 13px;
    flex: 0.3;
    min-width: 100px;
}

.emailRow__description {
    min-width: 100px;
}

.emailRow__time {
    padding-right: 15px;
    font-size: 9px;
    font-weight: bold;
}

.emailRow__description {
    font-weight: 500;
    color: gray;
}