.sendMail {
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: lightgray;
    width: 40%;
    height: 60%;
    max-width: 500px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
}

.sendMail__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(31, 28, 28);
}

.sendMail__close {
    cursor: pointer;
}

.sendMail__header > h3 {
    color: whitesmoke;
    font-size: 14px;
}

.sendMail__close {
    color: whitesmoke;
}

.sendMail__send {
    background-color: #3079ed !important;
    text-transform: capitalize !important;
    margin: 10px !important;
    color: whitesmoke !important;
    font-size: 14px;
    font-weight: 700 !important;
}

.sendMail > form {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 90%;
}

.sendMail > form > input {
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
}

.sendMail__message {
    flex: 1;
}

.sendMail__error {
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
}